<!DOCTYPE html>
<html ng-app="pupGrade" ng-controller="PuppyCtrl">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular Puppy Shelter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  </head>
  <body ng-cloak>

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">

          <form class="form-group">
            <input type="text" ng-model="newPuppy.name" class="form-control">
            <input type="text" ng-model="newPuppy.breed" class="form-control" ng-keyup="autocomplete(newPuppy.breed)">
            <!-- <select class="form-control" ng-model="newPuppy.breed_id">
              <option ng-repeat="breed in breeds" value="{{ breed.id }}">{{breed.name}}</option>
            </select> -->
            <button class="btn btn-primary" ng-click="createPuppy(newPuppy)">Abandon puppy...</button>
          </form>

          <div ng-repeat="suggestion in autocompletedSuggestions">
            <span ng-click="fillInInput(suggestion.id)">{{suggestion.name}}</span>
          </div>

          <select ng-model="dogOrder">
            <option value="name">Name</option>
            <option value="breed">Breed</option>
          </select>
          <input type="checkbox" ng-model="reverseOrder">
          <ul>
            <puppy ng-repeat="puppy in puppies | orderBy : dogOrder : reverseOrder" puppy="puppy" adopt-puppy="adoptPuppy(puppy.id)" return-breed="returnBreed(puppy.breed_id)"></puppy>
          </ul>

        </div>
      </div>
    </div>

    <script src="js/app.js"></script>
    <script src="js/services/PuppiesService.js" charset="utf-8"></script>
    <script src="js/services/BreedsService.js" charset="utf-8"></script>
    <script src="js/controllers/PuppyCtrl.js" charset="utf-8"></script>
    <script src="js/directives/puppy.js"></script>

  </body>
</html>
